<nav>
	<div class="logo"><a href="/">YN9</a></div>
	<ul class="nav-links">
		<li *ngFor="let item of menuItems">
			<a href="{{ item.path }}">{{ item.label }}</a>
		</li>
		<li>
			<a *ngIf="!user" href="/oauth2/login" #login>Login</a>
			<a *ngIf="user" href="/dashboard/@me">Perfil</a>
		</li>
	</ul>
	<i class='bx bx-menu-alt-right' (click)="menu = !menu"></i>
</nav>

<div [ngClass]="menu ? 'active sidebar' : 'sidebar'">
	<ul>
		<li *ngFor="let item of menuItems">
			<a href="{{ item.path }}">{{ item.label }}</a>
		</li>
		<li>
			<a *ngIf="!user" href="/oauth2/login" #sidebar_login>Login</a>
			<a *ngIf="user" href="/dashboard/@me">Perfil</a>
		</li>
	</ul>
</div>